@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');

*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    color: rgb(185, 212, 212);
    background-color: rgb(42, 41, 63);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container {
    max-width:960px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: Borel;
    font-size: 3.5rem;
    margin-bottom: 0px;
}

@media screen and (max-width:960px) {
    h1 {
        font-size: calc(1rem + 4.5vw);
        margin: 40px 0px;
    }

    h2 {
        text-align: center;
    }
}

#entrada {
    width: 960px;
    background-color: rgb(185, 212, 212);
    color: rgb(42, 41, 63);
    font-weight: 600;
    padding: 15px 40px;
    border-radius: 100px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}



@media screen and (max-width:960px) {
    #entrada {
        width: 100vw;
        padding: 15px 5px;
        margin: 0;
        border-radius: 0px;
    }

    #entrada * {
        margin: 3px;
    }

    #entrada #item {
        width: 140px;
    }
}

input {
    border: 0px;
    border-radius: 20px;
    padding: 5px;
    margin: 5px 15px 5px 5px;
}

#qtd {
    width: 50px;
}

#categoria, #filtro {
    border: 0px;
    border-radius: 20px;
    padding: 5px;
    margin: 0px 15px 0px 5px;
}

button {
    background-color: rgb(92, 86, 153);
    color: white;
    font-weight: 700;
    border: 0px;
    border-radius: 30px;
    padding: 9px 20px;
    margin: 3px 3px;
}

button:hover {
    background-color: rgb(63, 56, 145);
}

#filter {
    color: rgb(185, 212, 212);
    font-weight: 600;
    width: 100%;
    border-radius: 40px;
    margin: 40px 0px 20px 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

@media screen and (max-width:960px) {
    #filter {
    margin: 40px 0px 35px 0px;
    justify-content: center;
    align-items: center;
    }
}


#lista {
    color: rgb(185, 212, 212);
    width: 100%;
    padding: 10px;
    
}

#lista-compras, #compras-concluidas {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
}

#itens-lista-compras, #itens-compras-concluidas {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: start;
}

#lista-compras h2 {
    margin-top: 0px;
}

.card {
    color: rgb(42, 41, 63);
    border-radius: 20px;
    width: 170px;
    padding: 10px;
}

.card h3 {
    font-family: borel;
    font-size: 1.1rem;
    margin: 5px 0px 0px 0px;
    text-align: center;
}

.card p {
    margin: 8px 0px;
}

.card #btn-container {
    display: flex;
    justify-content: center;
}

.card button {
    font-weight: 100;
    padding: 10px 10px;
    border-radius: 50px;
}

#compras-concluidas .card {
    filter: grayscale(50%) brightness(50%);  
}

#compras-concluidas button {
    display: flex;
    margin: auto;
}

@media screen and (max-width: 640px) {
    #itens-lista-compras, #itens-compras-concluidas {
        gap: 8px;
    }

    .card {
        width: 105px;
        justify-content: center;
        padding: 5px;
        font-size: 0.6rem;
        border-radius: 10px;
    }

    .card h3 {
        font-size: 0.7rem;
    }

    .card p {
        margin: 0px 0px 5px 0px;
    }

    .card button {
        padding: 6px;
        font-size: 0.6rem;
        margin: 2px;
    }
}

.Alimentos {
    background-color: rgb(230, 125, 90);
}

.Limpeza {
    background-color: rgb(95, 134, 198);
}

.Higiene {
    background-color: rgb(94, 187, 157);
}

.Outros {
    background-color: rgb(167, 187, 94);
}

.editing {
    box-shadow: 0px 0px 20px rgb(198, 244, 255);
}